:root {
	--font-default: "Segoe UI", "Roboto", "Ubuntu", "Liberation Sans", "Verdana", "Arial", sans-serif;
	--font-mono: "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Andale Mono", "Arial Monospaced", monospace;
	--icon-color: transparent;
	--icon-size: 1.2rem;
	--label-size: .9rem;

	--error-color: #d50000;
	--warning-color: #de7a00;
	--valid-color: #006d00;
	--fade-color: #7a7a7a;
	--info-color: #535353;

	--pressed-bgcolor: #ffffff80;
	--dialog-pressed-bgcolor: #ffffff40;
	--tabf-pressed-bgcolor: #ffffff40;

	--edit-search-bgcolor: rgba(255, 247, 4, .9);
	--edit-forbidden-bgcolor: rgba(239, 0, 0, .1);
	--edit-diff-bgcolor: rgba(142, 104, 249, .1);
	--edit-diff-color: rgb(142, 104, 249);
	--edit-diffadd-bgcolor: rgba(131, 249, 142, 0.24);
	--edit-diffadd-color: rgb(131, 249, 142);
	--edit-diffrem-bgcolor: rgba(249, 183, 125, 0.24);
	--edit-diffrem-color: rgb(249, 183, 125);

	--row-current-bgcolor: rgba(0, 0, 0, 0.03);
	--row-highlight-bgcolor: rgba(255, 255, 0, 0.15);
	--row-assigned-bgcolor: rgba(226, 255, 173, 0.15);

	--tooltip-border-color: #57552a;
	--tooltip-bgcolor: #faf8e9;

	--filter: none;
	--hover-filter: brightness(1.2);
	--active-filter: brightness(1.5);

	--dialog-filter: none;
	--dialog-hover-filter: opacity(.7);
	--dialog-active-filter: opacity(.5);

	--tabf-filter: none;
	--tabf-hover-filter: opacity(.7);
	--tabf-active-filter: opacity(.5);

	--item-tabf-filter: none;
	--item-tabf-hover-filter: brightness(1.2);
	--item-tabf-active-filter: brightness(1.5);

	--page-bgcolor: var(--row-bgcolor);
	--page-color: var(--row-color);
	--page-border-color: var(--border-color);
	--page-icon-color: var(--icon-color);
	--page-selection-bgcolor: var(--selection-bgcolor);
	--page-selection-color: var(--selection-color);
	--page-form-bgcolor: transparent;
	--page-form-color: var(--form-color);
	--page-edit-bgcolor: var(--edit-bgcolor);
	--page-edit-color: var(--edit-color);
	--page-row-bgcolor: transparent;
	--page-row-inSel-bgcolor: var(--row-inSel-bgcolor);
	--page-row-inSel-unfocus-bgcolor: var(--row-inSel-unfocus-bgcolor);
	--page-tabf-off-bgcolor: var(--tabf-off-bgcolor);
	--page-tabf-bgcolor: var(--tabf-bgcolor);
	--page-tabf-color: var(--tabf-color);
	--page-img-filter: var(--filter);
	--page-img-hover-filter: var(--hover-filter);
	--page-img-active-filter: var(--active-filter);

	--panel-bgcolor: var(--alt1-bgcolor);
	--panel-color: var(--color);
	--panel-border-color: var(--alt1-border-color);
	--panel-icon-color: var(--icon-color);
	--panel-selection-bgcolor: var(--selection-bgcolor);
	--panel-selection-color: var(--selection-color);
	--panel-form-bgcolor: transparent;
	--panel-form-color: var(--form-color);
	--panel-edit-bgcolor: var(--edit-bgcolor);
	--panel-edit-color: var(--edit-color);
	--panel-row-bgcolor: transparent;
	--panel-row-inSel-bgcolor: var(--row-inSel-bgcolor);
	--panel-row-inSel-unfocus-bgcolor: var(--row-inSel-unfocus-bgcolor);
	--panel-img-filter: var(--filter);
	--panel-img-hover-filter: var(--hover-filter);
	--panel-img-active-filter: var(--active-filter);

  --color: #1e1e1f;
	--bgcolor: #efeff2;
	--selection-color: #d9f7ff;
	--selection-bgcolor: #003051;
	--focus-outline: solid 2px rgba(170, 201, 235, 0.6);

	--border-color: #c9c9c9;

	--alt1-bgcolor: rgb(240, 241, 248);
	--alt2-bgcolor: rgb(233, 245, 244);
	--alt1-color: #34008c;
	--alt2-color: #00618c;
	--alt1-border-color: #c9cac0;
	--alt2-border-color: #bcb6cb;
	--inv-alt1-bgcolor: #4f71b2;
	--inv-alt2-bgcolor: #518194;
	--inv-alt1-color: #f4f9ff;
	--inv-alt2-color: #fff;
	--inv-alt1-border-color: #434c86;
	--inv-alt2-border-color: #23716e;

	--edit-bgcolor: #fff;
	--edit-color: #000;
	--edit-seltext-bgcolor: #60a5ff4d;
	--edit-select-bgcolor: #60a5ff4d;
	--edit-select-unfocus-bgcolor: #60a5ff15;
	--edit-cmt-bgcolor: rgba(255, 246, 192, 0.5);
	--edit-cmt-shadow-color: #ccc46e;
	--edit-cmt-color: #191500;
	--edit-cmt-border-color: #cacaca;
	--edit-drop-color: #2c61a5;
	--edit-drop-bgcolor: rgba(0, 49, 140, 0.25);

	--row-bgcolor: #fff;
	--row-inSel-bgcolor: #60a5ff4d;
	--row-inSel-unfocus-bgcolor: #60a5ff15;
	--row-current-img-end: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20style%3D%22fill%3A%236980a5%3B%22%20d%3D%22m%2010%2C1%200%2C18%208%2C-9%20z%22%2F%3E%3C%2Fsvg%3E');
	--row-current-img-start: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20style%3D%22fill%3A%236980a5%3B%22%20d%3D%22M%2010%2C1%20V%2019%20L%202%2C10%20Z%22%2F%3E%3C%2Fsvg%3E');

	--form-bgcolor: #ffffff;
	--form-color: #464641;

	--scroll-color: #efefef;
	--scroll-thumb-color: #a1a1a1;

	--insbtn-color: #0800a3;
	--insbtn-bg: #bcd1eb;
	--insbtn-hover-bg: #deedff;

	--dialog-bgcolor: #2565a0;
	--dialog-color: #fff;

	--tabf-bgcolor: #648db2;
	--tabf-off-bgcolor: #c0d1e0;
	--tabf-color: #fff;

	--tabl-select-color: #50749d;

	--page-border-color: #e5e5e5;

	--item-bgcolor: #f9f9fb;
	--item-color: #0f0b52;
	--item-border-color: #dadee6;
	--item-tabf-off-bgcolor: #f3f3f3;
	--item-tabf-bgcolor: #dadee6;
	--item-tabf-color: #0f0b52;
	--item-tabl-select-color: #dadee6;
}
