#notifications-container {
  position: sticky;
  bottom: 1em;
  padding-left: 1em;
  height: auto;
  width: max-content;
}

  #notifications-container ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #notifications-container .notification {
    background: var(--tooltip-bgcolor);
    border: 1px solid var(--tooltip-border-color);
    border-left-width: 5px;
    border-right-width: 5px;
    border-radius: 1em;
    margin-top: 1em;
    padding: 1em;
    animation: fadeOut 6s linear forwards;
  }

  @keyframes fadeOut {
    0% 	{ opacity: 0; left: 0; display: block; }
    10% { opacity: 1; }
    50% { opacity: 1; transform: translateX(0px); }
    80% { opacity: 1; transform: translateX(-100%); }
    99% { opacity: 0; }
    100% { opacity: 0; left: -100em; position: absolute; }
  }

  #notifications-container .notification {
    border-color: var(--info-color);
  }
  #notifications-container .notification.notification--error {
    border-color: var(--error-color);
  }
  #notifications-container .notification.notification--warning {
    border-color: var(--warning-color);
  }
  #notifications-container .notification.notification--success {
    border-color: var(--valid-color);
  }
