/* PAGE LAYOUT */

  body {
    background: var(--bgcolor);
    font-family: var(--font-default);
    color: var(--color);
    line-height: 1.5;
    margin:10px auto;
    padding: 2px;
    widows: 2;
    orphans: 2;
    text-align: left;
  }


  /* *********** */
  /* TYPOGRAPHY */

  h1 {
    height: 1rem;
    font-size: 1.4375rem;
    line-height: 1.04347826;
    margin-top: 0em;
    margin-bottom: 2.08695652em;
    font-weight: normal;
  }

  p {
    text-indent: 0rem;
    margin-top: 0.6rem;
    }

  code {
    font-size: 16px;
  }

  /* MICRO TYPOGRAPHY */
 a, a:link, .link {
   color: var(--alt1-color);
 }

 a:visited {
  color: var(--alt2-color);
}

a:hover, a:focus, .link:hover, .link:focus {
  text-decoration: none;
}

a:focus, .link:focus {
  outline: 1px solid var(--alt1-color);
  padding: 5px;
}


  /* TABLES */
  table {
    display: table;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
    max-width: 100%;
    margin: 1.5rem auto;
    font-feature-settings: "tnum" 1;
    font-variant-numeric: tabular-nums;
  }

  tbody {
    /* Styles */
  }
  thead {
    /* Styles */
  }
  tfoot {
    /* Styles */
  }
  tr {
    background-color: var(--row-bgcolor);
    font-size: 1rem;

  }
  /*table tr:nth-child(odd){
    background-color:ghostwhite;
  }*/
  thead th {
    empty-cells: show;
    border-bottom: 0.125em solid var(--border-color);
    /* Current color = color of text (inverted in night mode) */
    border-right:  0.125em dotted var(--border-color);
    padding: 0.75em;
    text-align: left;
    font-weight: bold;
  /*  background-color:violet;*/
  }
  td, tbody th {
    empty-cells: show;
    border-bottom: 0.0625em solid var(--border-color);
    /* Current color = color of text (inverted in night mode) */
    border-right:  0.125em dotted var(--border-color);
    padding: 0.75em;
    text-align: left;
    font-weight: normal;
  }

  tbody .title {
    font-weight: bold;
  }

  tbody .author {
    font-style: italic;
  }

  .oneline {
    white-space: nowrap;
  }




  /* LISTS */
  ul,
  ol {
    margin: 1.5em 0;
    padding-left: 0;
  }
  ul {
    list-style-type: none;
    list-style-position: outside;
  }

  /* DIALOG / MODAL */
  dialog {
    min-width: 450px;
    max-width: max(600px, 90vw);
  }

  /* via https://github.com/GoogleChrome/dialog-polyfill */
  dialog + .backdrop{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  dialog + .backdrop,
  dialog::backdrop {
    background: rgba(0,0,0,0.2);
  }

  dialog dl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: .5em;
  }

  dialog dl dt {
    font-weight: bold;
  }
  dialog dl dd {
    margin: 0;
  }

  dialog dl dt,
  dialog dl dd {
    padding: .5em;
  }

  dialog dl dt:nth-of-type(2n),
  dialog dl dd:nth-of-type(2n) {
    background-color: var(--bgcolor);
    color: var(--color);
  }

  /* FILTERS */
  .group .float-right {
    float: right;
  }

  /* FORMS */
  textarea,
  input,
  select,
  button {
    font-size: 1em;
  }
  form label,
  form button {
    cursor: pointer;
  }

  form label textarea,
  form label input[type="text"],
  form label input[type="password"],
  form label input[type="search"],
  form label input[type="file"],
  form label input[type="url"] {
    display: block;
    width: 100%;
  }

  form label input[type="text"][hidden] {
    display: none;
  }

  form .actions {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.5em;
  }

  form .actions button:first-of-type {
    font-weight: bold;
  }

  button.link {
    background: transparent;
    border: none;
    break-before: always;
    cursor: pointer;
    margin-top: 1.5em;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    font-size: 1em;
  }

  /* USER STATUS */
  .users-status time,
  .production-status time {
    font-size: .8em;
  }
  .users-status time:before{
    content: "(";
  }
  .users-status time:after{
    content: ")";
  }

  .users-status input[readonly] {
    border-color: transparent;
    cursor: default;
    font-weight: bold;
    padding-left: 0;
  }

  .users-status label {
    display: block;
    margin-bottom: .5em;
  }

  .comment {
    white-space: break-spaces;
  }

  /* End CSS */
